
@font-face {
    font-family:"☞Eina01-Bold";
    src:url("Eina01-Bold.woff2") format("woff2"),url("Eina01-Bold.woff") format("woff"),url("Eina01-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        